<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="main.css">
    <title>Insert Title Here</title>
  </head>
  <body>
    <div id="body_wrapper">
    <header>
      <h1>Stat Tracker</h1>
    </header>
    <form action="/index" method="post" id="signup_form">
      <div id="info">
        <div class="inputfield" id="row_2">
          <div id="username" class="label_input">
            <label>username</label>
            <input type="text" autocomplete="off" name="username">
          </div>
          <div id="password" class="label_input">
            <label>password</label>
            <input type="password" autocomplete="off" name="password">
          </div>
        </div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <p id="login">Already have an account? <a href="/login/">Sign in here.</a></p>
  </div>
  </body>
</html>
